.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f0f2f5;
}

// .content-sidebar{
//   margin-top: 80px;
// }

// .content-header{
//   width: 100%;
// }

.main-content-wrapper {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.main-router-outlet {
  flex-grow: 1;
  padding: 30px; 
  background-color: #f0f2f5;
}