<div class="card">
    @if (!isNewPass) {  
        <div class="container">
        <div class="text-center mb-4">
            <img src="img/btb.jpg" alt="Logo" width="100" class="logo-img mb-3" />
                <h3 class="fw-bold">Réinitialisez mot de passe</h3>
                <p class="text-muted">Veuillez confirmer votre adresse e-mail</p>
            </div>

            <form [formGroup]="confirm_mailForm" (ngSubmit)="confirm_mail()">
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    placeholder="E-mail"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    L'email est requis
                </div>

                <div *ngIf="isError" class="alert alert-danger py-2 error-message">
                    {{ errorMessage }}
                </div>

                <div *ngIf="loading" class="spinner mt-3">
                    <span class="visually-hidden">Chargement...</span>
                </div>

                <button class="btn-blue text-center" type="submit">Confirmer</button>

            </form>
            <div class="text-back">
                <a routerLink="/connexion" class="reset-link"> Retour </a>
            </div>
        </div>
    }@else {
        <div class="container">
            <div class="text-center mb-4">
                <img src="img/btb.jpg" alt="Logo" width="100" class="logo-img mb-3" />
                <h3 class="fw-bold">Nouveau mot de passe</h3>
                <p class="text-muted">Veuillez saisir le code reçu, votre adresse e-mail et votre nouveau mot de passe</p>
            </div>

            <form [formGroup]="new_passForm" (ngSubmit)="new_pass()">
                <input
                    type="text"
                    id="code"
                    class="form-control"
                    placeholder="Code activation"
                    formControlName="code"
                    [ngClass]="{ 'is-invalid': submitted && nf['code'].errors }"
                />
                <div *ngIf="submitted && nf['code'].errors" class="invalid-feedback">
                    Le code est requis
                </div>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    placeholder="E-mail"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && nf['email'].errors }"
                />
                <div *ngIf="submitted && nf['email'].errors" class="invalid-feedback">
                    L'email est requis
                </div>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="Mot de passe"
                    formControlName="password"
                    [ngClass]="{
                        'is-invalid': submitted && nf['password'].errors,
                        'is-no-valid': isNoValid,
                        'is-valid': isValid
                    }"
                    />
                <div *ngIf="submitted && nf['password'].errors" class="invalid-feedback">
                    Mot de passe requis
                </div>

                <input
                    type="password"
                    id="c_password"
                    class="form-control"
                    placeholder="Confirmer mot de passe"
                    formControlName="c_password"
                    [ngClass]="{
                        'is-invalid': submitted && nf['c_password'].errors,
                        'is-no-valid': isNoValid,
                        'is-valid': isValid,
                    }"
                />
                <div *ngIf="submitted && nf['c_password'].errors" class="invalid-feedback">
                    Veuillez compléter ce champ
                </div>
                <div *ngIf="isMatch" class="invalid-feedback">
                    No match
                </div>


                <div *ngIf="isError" class="alert alert-danger py-2 error-message">
                    {{ errorMessage }}
                </div>

                <div *ngIf="loading" class="spinner mt-3">
                    <span class="visually-hidden">Chargement...</span>
                </div>

                <button class="btn-blue text-center" type="submit">Envoyer</button>
            </form>
            
            <div class="card-footer bg-white border-top-0">
                <small class="text-muted">Code activation invalide ?
                    <a (click)="changeBoolean()" class="reset-link">Renvoyer</a>
                </small>
            </div>
        </div>
    }
</div>
