:root {
  --background-color: rgb(104, 151, 177);
  --background-color-hover: rgb(51, 124, 173);
}

.card {
	width: 226px;
    height: 340px;
	background: #fff;
	border-radius: 15px 15px 5px 5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	padding: 16px;
	max-width: 300px;
	position: relative;
	transition: transform 0.2s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	text-decoration: none;

	&:hover {
		transform: translateY(-5px);
	}
}

.wishlist {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;

  mat-icon {
    color: #333;
  }
}

.wishlist mat-icon {
  cursor: pointer;
  transition: color 0.3s ease;
  color: grey;
}

.wishlist mat-icon.loved {
  color: red;
}

.love-icon {
  cursor: pointer;
  transition: color 0.3s ease;
  color: gray;
}

.love-icon.loved {
  color: red;
}


.product-image {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  margin-top: 8px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: -25px;
}


.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 24px;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 0px;

  mat-icon {
    color: #adc8da;
    font-size: 18px;
  }
}

.rating-count {
	font-size: 12px;
	color: #555;
	margin-left: 0px;
	font-weight: bold;
}

.star mat-icon {
  padding: 0;
  margin: 0;
  font-size: 15px;
  vertical-align: top;
  transition: color 0.3s ease;
}
.star {
  display: flex;
  gap: 0px;
}

.bottom-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: -1px;
}

.add-button {
  background: white;
  color: var(--background-color);
  padding: 8px 16px;
  border: 2px solid var(--background-color);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--background-color-hover);
    color: white;
  }
}
.cart {
  background: white;
  color: var(--background-color);
  border: 2px solid var(--background-color);
  &:hover {
    background-color: var(--background-color-hover);
    color: white;
  }
}