<div class="add-product-page">
  <div *ngIf="loading" class="custom-spinner spinner-overlay">
      <mat-spinner diameter="50" color="warn"></mat-spinner>
  </div>
  <div class="page-header">
    <h1>Create New Product <span class="badge">Simple Product</span></h1>
    <div class="header-actions">
      <button class="btn secondary" (click)="reviewForm()">Review Form</button>
      <button class="btn primary" (click)="publishProduct()">Publish Product</button>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="section-nav-panel">
      <h2>Product Data</h2>
      <ul>
        <li *ngFor="let section of productSections"
            [class.active]="currentSection === section.key"
            (click)="selectSection(section.key)">
          {{ section.label }} <i class="fas fa-chevron-right"></i>
        </li>
      </ul>
    </div>

    <div class="section-content-panel">
      <div *ngIf="currentSection === 'basicInformation'" class="section-card">
        <h2>Basic Information</h2>
        <form [formGroup]="basicInformationForm">
          <div class="form-group">
            <div class="label-input-prod">
              <label for="productName">Product name</label>
              <div class="max-width-prod">
                <input id="productName" type="text" formControlName="name" />
                <div *ngIf="basicInformationForm.get('name')?.invalid && basicInformationForm.get('name')?.touched" class="error-message">
                  Product name is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="label-input-desc">
              <label for="productDescription">Product Description</label>
              <div class="max-width-desc">
                <textarea id="productDescription" formControlName="description" rows="5"></textarea>
                <button class="btn auto-generate-btn">Auto-generate Description</button>
                <div *ngIf="basicInformationForm.get('description')?.invalid && basicInformationForm.get('description')?.touched" class="error-message">
                  Description is too long (max 1000 characters).
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="label-input-price">
              <label for="productPrice">Product Price</label>
              <div class="max-width-price">
                <input id="productPrice" type="text" formControlName="price" />
                <div *ngIf="basicInformationForm.get('price')?.invalid && basicInformationForm.get('price')?.touched" class="error-message">
                  Price name is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="label-input-brand">
              <label for="productBrand">Product Brand</label>
              <div class="max-width-brand">
                <input id="productBrand" type="text" formControlName="brand" />
                <div *ngIf="basicInformationForm.get('brand')?.invalid && basicInformationForm.get('brand')?.touched" class="error-message">
                  Brand name is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="label-input-cat">
            <label>Category</label>
            <div class="max-width-cat">
              <select
                id="category"
                class="form-control"
                [(ngModel)]="selectedCategory"
                [ngModelOptions]="{ standalone: true }"
                (change)="onCategoryChange($event)">
                
                <option value="" disabled>-- Choisir une catégorie --</option>
                <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.title }}
                </option>
                <option value="__new__">+ Créer une nouvelle catégorie</option>
              </select>
              <div class="category-tags">
                <span *ngFor="let cat of availableSubCategories"
                      class="tag"
                      [class.selected]="isCategorySelected(cat)"
                      (click)="toggleCategory(cat)">
                  {{ cat }}
                </span>
              </div>
              <div *ngIf="selectedCategories.length === 0 && basicInformationForm.touched" class="error-message">
                  At least one category is required.
              </div>
            </div>
            </div>
          </div>

          <div class="form-group">
            <div class="label-img-flex">
              <div class="margin-label">
                <label>Product Image</label>
                <p class="quality-check">Check Image Quality <i class="fas fa-info-circle"></i></p>
                <div *ngIf="!productImageBase64 && basicInformationForm.touched" class="error-message">
                  Product image is required.
                </div>
              </div>
              <div class="image-upload-area">
                <label for="productImageUpload" class="upload-box">
                  <input type="file" id="productImageUpload" accept="image/*" (change)="onProductImageSelected($event)" style="display: none;" />
                  <i class="fas fa-plus"></i>
                  <span>Add Image</span>
                </label>
                <div *ngIf="productImageBase64" class="image-preview">
                  <img [src]="productImageBase64" alt="Product Image Preview" />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="label-imgs-flex">
              <div class="margin-label">
                <label>Product Gallery</label>
                <p class="quality-check">Check Image Quality <i class="fas fa-info-circle"></i></p>
                <!-- <p class="image-resolution-hint">Image resolution too low!</p> -->
              </div>
              <div class="image-upload-area gallery-area img-marge">
                <label for="productGalleryUpload" class="upload-box">
                  <input type="file" id="productGalleryUpload" accept="image/*" multiple (change)="onProductGallerySelected($event)" style="display: none;" />
                  <i class="fas fa-plus"></i>
                  <span>Add Image</span>
                </label>
                <div *ngFor="let preview of productGalleryBase64; let i = index" class="image-preview gallery-item">
                  <img [src]="preview" alt="Gallery Image Preview {{i+1}}" />
                  <button class="remove-image-btn" (click)="removeGalleryImage(i)">
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="currentSection === 'generalInformation'" class="section-card">
        <h2>General Information</h2>
        <p>Contenu pour la section "General Information" (à implémenter).</p>
      </div>
      <div *ngIf="currentSection === 'sizeGuide'" class="section-card">
        <h2>Size Guide</h2>
        <p>Contenu pour la section "Size Guide" (à implémenter).</p>
      </div>
      <div *ngIf="currentSection === 'inventory'" class="section-card">
        <h2>Inventory</h2>
        <p>Contenu pour la section "Inventory" (à implémenter).</p>
      </div>
      <div *ngIf="currentSection === 'shipping'" class="section-card">
        <h2>Shipping</h2>
        <p>Contenu pour la section "Shipping" (à implémenter).</p>
      </div>
    </div>
  </div>
</div>