<!-- <div class="card">
    <div class="login-container">
        <div class="logo">
            <img src="img/btb.jpg" alt="Logo BTB" width="100" class="logo-img mb-3">
        </div>

        <div class="title">Commençons avec votre e-mail</div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="email" formControlName="email" placeholder="E-mail" required>
            <button class="btn-blue" type="submit">Continuer</button>
        </form>

        <div class="separator">Ou continuez avec</div>

        <div class="social-login">
            <a (click)="loginWithGoogle()" style="cursor: pointer;">
                <img src="https://www.google.com/favicon.ico" alt="Google"> Google
            </a>
            <a href="http://localhost:8050/api/oauth2/authorization/facebook">
                <img src="https://www.facebook.com/favicon.ico" alt="Facebook"> Facebook
            </a>
            <a href="#">
                <img src="https://www.apple.com/favicon.ico" alt="Apple"> Apple
            </a>
        </div>

        <div class="footer">
            En poursuivant, vous acceptez nos
            <a href="#">Conditions d'utilisation</a> et notre
            <a href="#">Politique de confidentialité</a>.
        </div>
    </div>
</div>
 -->

 <!-- login.component.html -->
<div id="googleSignInDiv"></div>


