
/* login.component.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #ffffff;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.card{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8; /* facultatif, pour un fond propre */
}

.logo-img {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  transition: border 0.3s ease;
}

input[type="email"]:focus {
  border-color: #0033cc;
  outline: none;
}

.btn-blue {
  background-color: #0033cc;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-blue:hover {
  background-color: #0022aa;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0;
  color: #666;
  font-size: 14px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
  margin-right: 12px;
}

.separator:not(:empty)::after {
  margin-left: 12px;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.social-login a {
  flex: 1;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.social-login a:hover {
  background-color: #f0f0f0;
}

.social-login img {
  width: 18px;
  height: 18px;
}

.footer {
  font-size: 12px;
  color: #888;
  margin-top: 24px;
}

.footer a {
  color: #0033cc;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}




/* login.component.css */
.google-login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

/* Optionnel : styles supplémentaires */
#googleSignInDiv {
  /* Ajuste la largeur ou l’alignement si nécessaire */
  min-width: 20px;
}
