<div class="card">
    <div class="login-container">
        <div class="logo">
            <img src="img/btb.jpg" alt="Logo BTB" width="100" class="logo-img mb-3">
        </div>

        <div class="title">Commençons avec votre e-mail</div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    placeholder="E-mail"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    L'email est requis
                </div>

                <div *ngIf="isError" class="alert alert-danger py-2 error-message">
                    {{ errorMessage }}
                </div>

                <div *ngIf="loading" class="spinner mt-3">
                    <span class="visually-hidden">Chargement...</span>
                </div>

                <button class="btn-blue text-center" type="submit">Continuer</button>

            </form>

        <div class="separator">Ou continuez avec</div>

        <div class="social-login">
            <div id="googleSignInDiv"></div>
        </div>

        <div class="footer">
            En poursuivant, vous acceptez nos
            <a href="#">Conditions d'utilisation</a> et notre
            <a href="#">Politique de confidentialité</a>.
        </div>
    </div>
</div>



