
@if(!isDashboard() && authService.isLoggedIn() && authService.user()){
  <nav class="navbar">
    <div class="navbar-left">
      <a [routerLink]="['/home']" class="navbar-link">
        <img src="img/btb.jpg" alt="Logo" class="logo" />
        <span class="brand">BTB-Shop</span>
      </a>
    </div>

    <div class="navbar-center-left" [ngClass]="{ 'show': showMenu }">
      <div class="nav-links">
        <a routerLink="/categories">
          Catégories <mat-icon class="matIcon">expand_more</mat-icon>
        </a>
        <a routerLink="/deals">Offres</a>
        <a routerLink="/whats-new">Nouveautés</a>
        <a routerLink="/delivery">Livraison</a>
      </div>
    </div>

    <div class="navbar-center-right" *ngIf="!isMobile">
      <input type="text" placeholder="Search Product" />
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <div class="navbar-mobile-icons">
      <div class="navbar-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </div>

      <div class="navbar-right">
        <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
        <!-- <a routerLink="/admin/products/add">
          <mat-icon>person</mat-icon>
        </a> -->

        <div class="user-dropdown-container">
          <div class="user-avatar-name" *ngIf="authService.getUser()" (click)="toggleDropdown()">
            <div class="avatar-wrapper">
              <img src="img/btb.jpg" alt="User Avatar" class="user-avatar" />
              <div class="online-indicator"></div>
            </div>
            <div class="user-details">
              <span class="user-name">{{ authService.getUser()?.name }}</span>
              <span class="user-email">{{ authService.getUser()?.email }}</span>
            </div>
            <mat-icon class="dropdown-icon">{{ showDropdown ? 'expand_less' : 'expand_more' }}</mat-icon>
          </div>

          <div *ngIf="showDropdown" class="dropdown-menu">
            <ul>
              <li><a [routerLink]="['/profile']" (click)="closeDropdownProf()">Profil</a></li>
              <li><a *ngIf="authService.getUser()?.role == 'ADMIN'" (click)="navigatToDashboard()">Dashboard</a></li>
            </ul>
          </div>
      </div>

        <button mat-icon-button (click)="logout()" [disabled]="loading">
          @if (!loading) {
            <mat-icon>logout</mat-icon>
          } @else {
            <mat-spinner diameter="25"></mat-spinner>
          }
        </button>
      </div>
    </div>
  </nav>
}
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<div class="app-footer">
  <app-footer></app-footer>
</div>

