.product-list {
    display: flex;
 	gap: 20px;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: center;
}

a {
  text-decoration: none;
  color: inherit; /* Optionnel, pour hériter la couleur du parent */
}