:root {
  --background-color: rgb(104, 151, 177);
  --background-color-hover: rgb(51, 124, 173);
}

.card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

.container {
  background: #ffffff;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.logo-img {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}

h3.fw-bold {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.text-muted {
  font-size: 0.9375rem;
  color: #6c757d;
}

.text-decoration-none {
  color: var(--background-color);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.text-decoration-none:hover {
  color: var(--background-color-hover);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: var(--background-color-hover);
  outline: none;
}

.btn-blue {
  background-color: var(--background-color);
  color: #fff;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-blue:hover {
  background-color: var(--background-color-hover);
}

.card-footer {
  padding: 20px 40px;
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
}

.margin-text {
  margin-top: 15px;
}

.invalid-feedback {
  text-align: left;
  margin-top: -16px;
  margin-bottom: 10px;
  color: red;
  /* font-weight: bold; */
  font-size: 0.65rem;
}

.is-invalid {
  border: 1px solid red;
}

.error-message {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: red;
  font-weight: bold;
  font-size: 0.85rem;
}

.spinner {
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: red;
  background-color: var(--background-color);
}

.custom-spinner circle {
  stroke: #1d1e1e; /* Couleur bleue personnalisée */
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); /* transparent blanc */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(1px); /* Optionnel pour un effet flou */
}



